body {
  background-color: #00570efc;
  color:#1eff00;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

section {
  padding: 1px;
  margin: 1px;
}

h1, h2 {
  font-family:  'Island Moments', 'Courier New', Courier, monospace;
  font-size: 44px;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: dashed solid;
  margin-bottom: 4px;
  text-align: center;
}

a:link {
  color: rgb(129, 233, 141);
  text-decoration: none;
}

a:visited {
  color: rgb(7, 193, 72);
}

form > label {
  font-size: 22px;
  margin-bottom: 10px;
  padding-bottom:1px;
  color: rgb(153, 255, 165);
}
form > input {
  display: flex;
  resize: vertical;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom:2px;
  padding-top:2px;
  border: solid 4px rgb(123, 206, 6);
}

button {
  size: auto;
  display: block;
  padding: 4px;
  background-color:  rgb(123, 206, 6);
  border: dashed dashed 12px rgba(123, 206, 6, 0.564);
}

