@media only screen and (min-width: 300px){
  body {
    background-color: #000000fc;
    color:#1eff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
  }
}

@media only screen and (max-width: 650px){
  body {
    background-color: #01420cfc;
    color:#1eff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
  }
}

@media only screen and (max-width: 1024px){
  body {
    background-color: #01420cfc;
    color:#1eff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
  }
}

nav{
  background-color: #01420cfc;
}

#nav{
  display: block;
  background-color: #01420cfc;
  text-align: center;
  margin:.4em;
  padding:.4em;
  position: sticky;
  top: 0;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #01420cfc;
  padding: 1em;
  margin: 1em;
}

li {
  display: grid;
}

p{
  text-align: center;
  margin: auto;
}

h1, h2 {
  font-size: 2.5em;
  padding: 0.2em;
  margin: 0;
  text-align: center;
  font-family:  'Island Moments', 'Courier New', Courier, monospace;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: inline-flex;
  flex-direction: row;
  padding: auto;
  margin: auto;
  text-align: center;
}

a:link {
  display: inline;
  color: rgb(129, 233, 141);
  background-color: #01420cfc;
  text-decoration: unset;
}

a:visited { 
  color: rgb(7, 193, 72);
}

form {
  display: inline;
  margin-left: 40%;
}

form > label {
  font-size: 1em;
  margin-bottom: 1em;
  padding-bottom:1em;
  color: rgb(153, 255, 165);
}
form > input {
  display: flex;
  flex-direction: column;
  margin: 0.2em;
  padding-bottom:0.2em;
  padding-top:0.2em;
}

button[type=submit] {
  display: inline-block;
  padding: 0.4em;
  background-color:  rgb(123, 206, 6);
}

button {
  background-color: rgb(236, 250, 78);
}

#footer {
  text-align: center;
  font-size: 2.8em;
  padding-bottom: .1em;
  margin-bottom: .4em;
  font-family: 'Island Moments', 'Arial';
  background-color:#01420cfc;
}