* { 
	box-sizing: border-box;
}

@media only screen and (min-width: 300px){
  body {
    background-color: #000000fc;
    color:#1eff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
  }
}

@media only screen and (max-width: 650px){
  body {
    background-color: #000000fc;
    color:#1eff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
  }
}
@media only screen and (max-width: 1024px){
  body {
    background-color: #000000fc;
    color:#1eff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
  }
}

html {
	min-height: 100%;
	background: #000;
}

body {
	font-size: 1rem;
	text-rendering: optimizeLegibility;
  }

#nav{
  display: block;
  text-align: right;
  margin:.4rem;
  padding:.4rem;
  position: sticky;
  top: 0;
}

footer, header, nav, section {
	display: block;
}

h1, h2 {
  margin: 0.6rem;
  font-family:  'Island Moments', 'Courier New', Courier, monospace;
	font-size: 2.6rem;
}

p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

/* textarea { 
resize: vertical;
  } */

/* table { 
  border-collapse: collapse; 
}

td {
	padding: .5rem;
} */

a:link {
  color: #81e98d;
}

a:visited { 
  color: #e39103;
}

img { 
border: none;
max-width: 100%;
}

ul {
    margin: 0.6rem;
    list-style-type: none;
    padding-inline-start: 0.6rem;
}

input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
    color: #81e98d;
}

/* input[type="search"] { 
  -webkit-appearance: auto;
} */

form {
  columns: 2  q;
}

input { 
  margin-right: 2rem;
  margin-top: 1rem;
	background: #81e98d;
}

label{
  margin-right: 3rem;
  margin-top: 1rem;
}

button {
  align-self:auto;
  background: #47814d;
  border-radius: 5rem;
  margin-top: 1rem;
  margin-left: 7.5rem;
  
}

sub, sup { 
  line-height: 0;
}

#footer {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Island Moments', 'Arial';
}